
.container {
  max-width: 1205px;
}

//------------Navigation Menu----------//
.header {
  background-color: white;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

// Logo
.navbar-brand {
  background-image: url('./assets/lexus-logo.png');
  display: block;
  width: 216px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  margin-right: 60px;
}

// Nav links
.nav-link {
  color: black !important;
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-weight: 300;
  font-size: 12px;
  font-family: OpenSans-Light;
}



.menu-item {
  margin-right: 30px;
}

// Nametag only
.name-tag-only {
  margin-right: 16px;
}

//Profile container
.mr-auto {
  align-items: baseline;
}

// Profile Badge 
.profile-badge {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  color: white !important; // <- overrides the bootstrap style
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-badge-text {
  font-size: 16px;
  font-weight: 600;
}

//------------Hero---------------------//

.hero {
  background-color: olive;
  width: 100%;
}

//------------Dealerships--------------//

.dealership {
  background-color: indianred;  
}
